<configuration>

    <appender name="colorAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="colorAppender"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

</configuration>

